@charset "UTF-8";
body{
    background-color: rgb(73, 90, 57);
    font-family: Arial, Helvetica, sans-serif;
}
h1{color: rgb(157, 187, 214);}

h1#principal{text-align: center;background-color: rgb(166, 180, 152);
color: black;}

h2{color: rgb(49, 5, 85);}
.basico{
    color: rgb(77, 6, 99);
    font-weight: bolder;
}
.intermediario{
    color: rgb(84, 9, 107);
    font-weight: bolder;
}
.avancado{
    color: rgb(104, 19, 129);
    font-weight: bolder;
}
.destaque{
    background-color: rgb(136, 131, 124);
}