@charset "UTF-8";
body {
    background-color: aqua;font-family: Arial, Helvetica, sans-serif;font-size: 20px;
}
h1{color: bisque; background-color: rgb(219, 191, 191);}
h2{
    color: rgb(180, 16, 16);background-color: rgb(44, 10, 10);}
    p{text-align: justify;}