@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to right,rgba(46, 45, 126, 0.651),rgba(57, 104, 107, 0.74) ) ;
}
main{
    background-color: beige;
    border: radius 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: blueviolet;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.267);
}
h2{color: rgb(78, 49, 11);}

p{text-align: justify;}
